

p {
	text-align: center;
	font-size: 80px;
	margin-top: 0px;
	color: red;
	text-shadow: 3px 3px 5px #000000;
  }
 
  body  {
	background-image: url("flags.jpg");
	background-color: #cccccc;
	text-align: center;
	text-shadow: 3px 3px 5px #000000;
  }

  /* Outline Text Shadow */
.outline {
	color: white;
	font-family: 'Arbutus', sans-serif;
	text-shadow: black  .02em   0     0,
	black  0       .02em 		0,
	black -.02em   0     		0,
	black  0      -.02em 		0;
  }